.page{
  background-color: #ccc;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-content: center;
}

.login-container {
  background-color: #fff;
  height: 30vh;
  padding: 20px;
  width: 20vh;
  border-radius: 10px;
  box-shadow: 0px 0px 10px grey;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* height: 50vh; */
  }
  
  #login-form {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ccc;
  }
  
  #error-box {
    color: red;
  }
  
  #input-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  
  label {
    margin-top: 10px;
  }
  
  input {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin-top: 10px;
  }
  
  #log-in {
    margin-top: 20px;
    padding: 8px 20px;
    background-color: rgb(42, 159, 255);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }

  #malkhaz{
    display: flex;
    flex-direction: column
  }
  