.thebar{
    display: flex;
    justify-content: space-between;
    height: 40px;
    background-color: rgb(220, 211, 211);
    border: black;
}

.profile-dropdown {
    color: red;
}

/* .fa-solid fa-user-circle {
    background-color: red
} */

/* NavLink{
    background-color: red;
} */