.thebar{
    display: flex;
    justify-content: flex-end;
}

.profile-dropdown {
    color: red;
}

/* .fa-solid fa-user-circle {
    background-color: red
} */

/* NavLink{
    background-color: red;
} */